@font-face {
    font-family: 'grinder';
    src:url(Fonts/grinder-font/Grinder-1G17v.otf) format('woff');
    }
@font-face {
    font-family: 'madeleine';
    src:url(Fonts/madeleine/Madeleine\ Bold.otf) format('woff');
    }
@font-face {
    font-family: 'steelr';
    src:url(Fonts/Steelr/SteelrDemo.ttf) format('woff');
    }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
min-height: 100vh;
    background-color: rgb(226, 226, 226);
    font-family: Poppins;
}
#header{
    position: fixed;
    top:0;
    width:100%;
}
#sale-div{
    padding:5px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    color:rgb(206, 206, 206);
    background-color: rgb(21, 21, 21);
}
#header-content{
    background-color: rgb(241, 239, 233);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border-bottom:1px solid rgba(0, 0, 0, 0.098);
    z-index: 10;
}
#header #brand-name{
    position: relative;
    color: black;
    font-family: "steelr";
}
#header #brand-name, #nav-bar{
    flex: 1;
}
#brand-name h1{
    padding: 10px 0 10px 4vw;
    font-size: 2.3rem;
}
#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:1px solid rgba(39, 25, 19, 0.226);
    overflow-y: hidden;
    background-color: rgb(241, 239, 233);
}
a{
    text-decoration: none;
}
.fa-arrow-right-long{
    font-size: 2rem;
}
.nav-link,#btn--Shop-Now{
    flex:1;
    font-size: 1rem;
    color:rgb(21, 21, 21);
    padding:50px 10px;
    text-align: center;
    text-transform: uppercase;
    transition:0.2s;

}
.nav-link{
    position: relative;
    letter-spacing:1px;
}
.nav-link::before{
    content: "";
    bottom:50px;
    height:2px;
    width:0%;
    background-color: black;
    position: absolute;
    transition:0.3s ease;
}
.nav-link:hover::before{
    width:30%;
}
.nav-link:hover{
    background-color:rgb(199, 198, 198);
}
.fa-regular{
    margin-inline:10px;
    font-size: 1.2rem;
}
#btn--Shop-Now{
    background-color: purple;
    color: white;
    min-width:150px;
    font-family: steelr;
}
#btn--Shop-Now:hover{
    background-color:rgb(165, 0, 165);
    color:white;
    cursor: pointer;
}
#hamburger{
    display: none;
    position: absolute;
    transform: translate(0,-5px);
    right:10px;
    cursor: pointer;
    height:10px;
    z-index: 10;
}
#header-content.active > #nav-bar{
    display: flex;
    height: unset;
}
.bar{
    height:3px;
    width:20px;
    background-color: black;
}
.bar.long{
    transform: translate(0,10px);
    width:30px;
}
main section{
    padding-top:90px;
    min-height: 100vh;
}
main section#home{
  
    display: flex;
    flex-wrap: wrap;
}
main section#home > div{
    flex: 1;
    height:calc(100vh - 90px);

}
.hero{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(21, 21, 21);
    color:white;
}
.hero header{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero header h1{
    -webkit-text-stroke: 1px black;
    font-family: "madeleine";
    font-size: 6rem;
    line-height:3rem;
    padding-inline:5vw;
}
.hero header p{
    font-weight: 300;
    margin:auto;
    text-align:left;
    margin-top:50px;
    padding-inline:10vw;
}
.hero form{
    width: 100%;
    max-height:40%;
    display: flex;
    flex-wrap: wrap;
}
#img-div{
    height: 100%;
}
#main-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.btn{
    flex:1;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: steelr;
    font-size:1rem;
    color: rgb(34, 0, 40);
    background-color:rgb(215, 204, 215) ;
    transition:0.2s ease;
    min-height:80px;
    border: none;
    cursor: pointer;

}
.btn1:hover{
background-color:rgb(184, 177, 184) ;

}

#email{
    flex: 2;
text-align: center;
font-family: poppins;
padding-inline:30px;
font-size: 1.5rem;
border:none;
min-width: 100%;
min-height: 50px;
border-radius: 0;
color:rgb(21, 21, 21);
outline-offset: -5px;
}
#email:focus{
    outline:1px solid purple;
}
::placeholder{
    color:  rgb(187, 179, 187);
}
.btn1{
    flex:1.4;
}
.btn2{
    background-color: purple;
    color: white;
}

.btn2:hover{
    background-color:rgb(167, 0, 167);
    flex:1.5;
}

.colored-text{
    color: purple;
}
#category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:50px;
}
#men,#women{
    min-height:200px;
    min-width:200px;
    width:400px;
    height:400px;
    outline:5px solid purple;
    border-radius: 50%;
}
#men:hover,#women:hover{
    box-shadow: 0 0 40px rgba(128, 0, 128, 0.54);
}
#category #men{
    background: url(images/category-men.jpeg) no-repeat center/cover;
}
#category #women{
    background: url(images/category-women.jpeg) no-repeat center/cover;
}
figcaption{
    text-align: center;
    font-size: 1.4rem;
    margin-top:20px;
    font-family: steelr;
}
section#new{
    /* display: flex;
    justify-content:center;
    align-items:center; */
    background-color:black;
}
video{
    display: block;
    max-width: 100%;
    margin:auto;
}

@media (max-width:1100px){
    #nav-bar{
       display: none;
       flex-direction: column;
       justify-content: flex-start;
    min-width:100%;
    height: 0;
    }
    .nav-link::before{
        display: none;
    }
    #header-content{
        overflow-y: visible;
        flex-wrap: wrap;
    }
    #header-content .nav-link, #btn--Shop-Now{
        padding:10px;
        width: 100%;
        border-bottom:1px solid rgb(184, 177, 184);
    }
    #hamburger{
        display: block;
    }
    #header #brand-name{
        text-align: center;
        padding: 10px;
    }
    main section#home{
        flex-direction: column-reverse;
    }
    main section#home > div{
        width: 100%;
    }
    #men,#women{
        height:300px;
        width:300px;
    }
}
@media (max-width:650px){
    #brand-name h1{
        font-size: 1.3rem;
    }
    .hero header h1{
        font-size: 3rem;
    }
}